{% extends 'base.html.twig' %}

{% block title %}Edit Doctor{% endblock %}

{% block body %}

    {{ include('doctor/_form.html.twig', {'button_label': 'Update'}) }}

<div class="text-center">
        <a href="{{ path('app_doctor_index') }}" class="btn btn-primary">Back to List</a>
    </div>
{% endblock %}
