{% extends 'base.html.twig' %}

{% block title %}New Blog{% endblock %}

{% block body %}

    {{ include('blog/_form.html.twig') }}

<div class="text-center">
        <a href="{{ path('app_patient_index') }}" class="btn btn-primary">Back to List</a>
    </div>{% endblock %}
